*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.5;
    letter-spacing: 0.25px;
    margin: 0;
    text-align: center;
}

/* =================
   Typography 
   ================= */

h1,
h2 {
    line-height: 1.1;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1 + p {
    font-size: 1.3125rem;
    font-weight: 900;
    color: #f18119;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text {
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
    margin: 0;
    padding-top: 0.5em;
}

.fine-print {
    font-size: 0.625rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

strong {
    font-weight: 900;
}

/* =================
   Intro section 
   ================= */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #404040;
    background-image: url(images/ribs.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 0.5em 2em;
    min-height: 50vh;
}

/* =================
   Main-content section 
   ================= */

.main-content {
    padding: 2em 1em;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* =================
   Form
   ================= */

.email-collector {
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    font-family: inherit;
    text-align: inherit;
    width: 100%;
    border-radius: 5px;
}

input {
    font-size: inherit;
    color: inherit;
    margin-bottom: 0.75em;
    padding: 0.25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
    outline: 0;
}

input:focus {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.25em 1.5em;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: #fff;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}

/* =================
   Media queries 
   ================= */

@media (min-width: 600px) {
    body {
        font-size: 1.125rem;
        display: flex;
        min-height: 100vh;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .top-text {
        font-size: 0.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
